body {
	background: cyan;
}

h1 {
	height: 100px;
	width: 100%;
	background: linear-gradient(lightblue, lightgreen);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text {
	background: beige;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Main window */
#main {
	display: inline-block;
	margin-left: 10%;
	background-color: white;
	width: 80%;
	height: 100%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Products */
.product {
	display: block;
	width: 100%;
	height: 500px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background: lightcyan;
	margin-top: 80px;
}

img {
    max-width: 250px;
    max-height: 250px;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s;
}

h2 {
	display: block;
}
a {
	display: block;
}
p {
	display: block;
}
figure {
	background: linear-gradient(orange, white);
	display: block;
}